* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.8rem;
    height: 100%;
}
img{
    width: 20rem;
}
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.73;
    position: relative;
    background-attachment: fixed;
    background-image: url(./İMG/bg.jpg);
}
.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.73;
    position: relative;
    background-attachment: fixed;
    background-image: url(./İMG/bg2.jpg);
}
.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.73;
    position: relative;
    background-attachment: fixed;
    background-image: url(./İMG/bg3.jpg);
}
.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.73;
    position: relative;
    background-attachment: fixed;
    background-image: url(./İMG/bg4.jpg);
}
.section5{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.73;
    position: relative;
    background-attachment: fixed;
    background-image: url(./İMG/bg1.jpg);
}
h1 {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    color: white;
}
h2 {
    margin: 2rem;
}


